YOUTUBE_API_KEY=AIzaSyAtm0gKyhN06veOuhy7fO3siMz_EAOfCkk
CHANNEL_ID=UCH5U89kvHrVxxS80xpoOydw
TARGET_COUNT= 50000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=fault_find_db
DB_USER=postgres
DB_PASSWORD=1111

TRANSCRIPT_SLEEP_SECONDS=1.5
