.quickService-container{
  /* background: linear-gradient(to right, #f4f8ff 50%, transparent 100%);
  padding-bottom: 20px; */
  background-color: rgba(255, 255, 255, 0.4); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  
  padding: 30px;
  margin-bottom: 20px; /* 아래인기글과 살짝 떨어뜨리기 */
}

/* 🌟 혹시 자주찾는 서비스 안에 각 아이콘 버튼들도 하얗게 튀어 보인다면? */
.service-item {
    background-color: rgba(255, 255, 255, 0.6); /* 버튼들도 약간 투명하게 */
    border: none;
    box-shadow: none;
}
.services-grid {
  padding-top: 10px;
  display: flex;
  overflow-x: auto;
  gap: 16px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 10px;
}

/* 미디어 쿼리: 화면 가로폭이 최소 1024px 이상일 때 */
@media (min-width: 1024px) {
  .services-grid { grid-template-columns: repeat(6, 1fr); } /* 6개를 한줄로 정렬 */
}
/* 자주 찾는 서비스 */
.services-title-main {

  font-size: 22px;
  font-weight: bold;      
  font-weight: 700;
  font-family: 'Pretendard';
  color: #1f2937;      
  margin-bottom: 10px;
  margin-left: 50px; 
  padding-top: 10px;
  text-shadow: 1px 1px 5px rgba(176, 176, 179, 0.5);
}

/* 카드 기본 스타일 */
.service-card {
  font-family: 'Pretendard';
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e5f1f3;
  border: 1px solid #d3d4d8;
  border-radius: 36px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}

.service-card:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border-color: #2563eb;
  transform: translateY(-4px);
}

/* 아이콘 박스 */
.service-icon-box {
  width: 64px;
  height: 64px;
  background-color: #e5f1f3;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  transition: background-color 0.2s ease;
}

.service-card:hover .service-icon-box {
  background-color: #eff6ff;
}

/* 아이콘 이미지 크기 제한 */
.service-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.service-card:hover .service-icon {
  transform: scale(1.05);
}

/* 텍스트 스타일 */
.service-title {
  font-size: 1.30rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 4px;
  word-break: keep-all;
  transition: color 0.2s ease;
}

.service-card:hover .service-title {
  color: #2563eb;
}

.service-desc {
  font-family: 'Pretendard';
  font-size: 0.75rem;
  color: #9ca3af;
  font-weight: 500;
  word-break: keep-all;
}

